@{
    Layout = "_LoginCoordinatorLayout";
}

@model Errand 

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som samordnare</p>

@await Component.InvokeAsync("ErrandData", ViewBag.Id);

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <p>
        Ange enhet:
        <select name="department">
            <option selected="selected">Välj</option>
            //TODO: Fixa så att alla departments syns i dropdown listan
@*            @foreach(Department dept in Model.Departments){
                <option value="@dept.DepartmentId">@dept.DepartmentName</option>
            }*@
        </select>
    </p>
    <p>
        <input class="button" type="submit" value="Spara"/>
    </p>
</section>